force-app/main/default/flows/action_on_Task_Result_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Id_to_CurOpportunity</name>
        <label>Assign Opportunity Id to CurOpportunity</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>curOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Property__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Visit_on_Re_Set_Visit_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Id_to_CurOpportunity_2</name>
        <label>Assign Opportunity Id to CurOpportunity 2</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>curOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Property__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Visit_on_Follow_Up_Visit_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Id_to_CurOpportunity_3</name>
        <label>Assign Opportunity Id to CurOpportunity 3</label>
        <locationX>1722</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>curOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Property__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Opportunity_Id_to_CurOpportunity</name>
        <label>Copy 1 of Assign Opportunity Id to CurOpportunity</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>curOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Property__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_on_Sold_Finance</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkResult2Again</name>
        <label>checkResult2Again</label>
        <locationX>2206</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Account_on_Unqualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Interest2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_on_No_Interest</targetReference>
            </connector>
            <label>No Interest2</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkResult3forDNC</name>
        <label>checkResult3forDNC</label>
        <locationX>2998</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Account_on_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DNC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DNC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_on_Closed_Lost_DNC</targetReference>
            </connector>
            <label>DNC</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTaskType</name>
        <label>checkTaskType</label>
        <locationX>2646</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Wrong_Button_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Type_is_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Result</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenResultVisitDetails</targetReference>
            </connector>
            <label>Task Type is Result</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkVisitResult3</name>
        <label>checkVisitResult3</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_Not_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Next_Task_on_Follow_Up_Not_Ready</targetReference>
            </connector>
            <label>Follow Up : Not Ready</label>
        </rules>
        <rules>
            <name>Follow_Up_Call_to_ReSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call to Re/Set</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Next_Task_on_Follow_Up_Call_to_Re_Set</targetReference>
            </connector>
            <label>Follow Up : Call to Re/Set</label>
        </rules>
        <rules>
            <name>Follow_Up_Visit_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Set</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_on_Follow_Up_Visit_Set</targetReference>
            </connector>
            <label>Follow Up : Visit Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkVisitResults</name>
        <label>checkVisitResults</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_on_Sold_Cash</targetReference>
            </connector>
            <label>Cash</label>
        </rules>
        <rules>
            <name>Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Opportunity_Id_to_CurOpportunity</targetReference>
            </connector>
            <label>Finance</label>
        </rules>
        <rules>
            <name>Visit_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Set</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Visit_on_Re_Set_Visit_Set</targetReference>
            </connector>
            <label>Visit Set</label>
        </rules>
        <rules>
            <name>Follow_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkVisitResult3</targetReference>
            </connector>
            <label>Follow Up</label>
        </rules>
        <rules>
            <name>Unreachable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unreachable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Next_Task_on_Unreachable</targetReference>
            </connector>
            <label>Unreachable</label>
        </rules>
        <rules>
            <name>No_Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_on_No_Interest</targetReference>
            </connector>
            <label>No Interest</label>
        </rules>
        <rules>
            <name>Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Opportunity_on_No_Interest</targetReference>
            </connector>
            <label>Unqualified</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed / Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_on_Closed_Lost</targetReference>
            </connector>
            <label>Closed / Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlAccountDisposition</name>
        <dataType>String</dataType>
        <expression>TEXT({!curVisit.Visit_Result_2__c}) + &quot; : &quot; + TEXT({!curVisit.Visit_Result_3__c})</expression>
    </formulas>
    <formulas>
        <name>fmlFinanceClosingDate</name>
        <dataType>Date</dataType>
        <expression>{!recordId.ActivityDate} + 30</expression>
    </formulas>
    <formulas>
        <name>fmlNextTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!nextTask.ActivityDate} - 2</expression>
    </formulas>
    <formulas>
        <name>fmlNextTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Follow Up : Not Ready - &quot; + {!recordId.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>fmlNextTaskSubjectFollowUpCalltoReset</name>
        <dataType>String</dataType>
        <expression>&quot;Follow Up : Call to Re/Set - &quot; + {!recordId.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>fmlOpportunityLostReason</name>
        <dataType>String</dataType>
        <expression>TEXT({!curVisit.Visit_Result_2__c}) + &quot; : &quot; + TEXT({!curVisit.Visit_Result_3__c})</expression>
    </formulas>
    <formulas>
        <name>fmlTaskSubjectonUnreachable</name>
        <dataType>String</dataType>
        <expression>TEXT({!curVisit.Visit_Result_3__c}) + &quot; : &quot; + &quot;Call to Re/Set - &quot; + {!recordId.Account.Name}</expression>
    </formulas>
    <interviewLabel>action - on Task - Result Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>action - on Task - Result Visit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Next_Task_on_Follow_Up_Call_to_Re_Set</name>
        <label>Create Next Task on Follow Up : Call to Re/Set</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Opportunity_on_Follow_Up_Call_to_Re_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fmlNextTaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>inputAssignedTo.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>recordId.Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubTaskResult__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fmlNextTaskSubjectFollowUpCalltoReset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Result__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Re/Set</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Next_Task_on_Follow_Up_Not_Ready</name>
        <label>Create Next Task on Follow Up : Not Ready</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Opportunity_on_Follow_Up_Not_Ready</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fmlNextTaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>inputAssignedTo.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>recordId.Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubTaskResult__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fmlNextTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Result__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Next_Task_on_Unreachable</name>
        <label>Create Next Task on Unreachable</label>
        <locationX>1810</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Opportunity_on_Unreachable</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fmlNextTaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>inputAssignedTo.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>recordId.Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubTaskResult__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fmlTaskSubjectonUnreachable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Result__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Re/Set</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account_on_Closed_Lost</name>
        <label>Update Account on Closed / Lost</label>
        <locationX>3130</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Avoid</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Closed_Lost_DNC</name>
        <label>Update Account on Closed / Lost DNC</label>
        <locationX>2866</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Avoid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDo_Not_Call__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Follow_Up_Call_to_Re_Set</name>
        <label>Update Account on Follow Up : Call to Re/Set</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Follow_Up_Not_Ready</name>
        <label>Update Account on Follow Up : Not Ready</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Follow_Up_Visit_Set</name>
        <label>Update Account on Follow Up : Visit Set</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_No_Interest</name>
        <label>Update Account on No Interest</label>
        <locationX>2074</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Re_Set_Visit_Set</name>
        <label>Update Account on Re/Set : Visit Set</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Sold_Cash</name>
        <label>Update Account on Sold Cash</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Visit_on_Sold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isCurrent_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Sold_Finance</name>
        <label>Update Account on Sold Finance</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Visit_on_Sold_Finance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Unqualified</name>
        <label>Update Account on Unqualified</label>
        <locationX>2338</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Unreachable</name>
        <label>Update Account on Unreachable</label>
        <locationX>1810</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_on_Closed_Lost</name>
        <label>Update Opportunity on Closed / Lost</label>
        <locationX>2998</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Visit_on_Closed_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <elementReference>fmlOpportunityLostReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_on_Follow_Up_Call_to_Re_Set</name>
        <label>Update Opportunity on Follow Up : Call to Re/Set</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Visit_on_Follow_Up_Call_to_Re_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlNextTaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Rep Working</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_on_Follow_Up_Not_Ready</name>
        <label>Update Opportunity on Follow Up : Not Ready</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Visit_on_Follow_Up_Not_Ready</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <elementReference>fmlOpportunityLostReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_on_Follow_Up_Visit_Set</name>
        <label>Update Opportunity on Follow Up : Visit Set</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Visit_on_Follow_Up_Visit_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Rep Working</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_on_No_Interest</name>
        <label>Update Opportunity on No Interest</label>
        <locationX>2206</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Visit_on_No_Interest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <elementReference>fmlOpportunityLostReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_on_Sold_Cash</name>
        <label>Update Opportunity on Sold Cash</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Account_on_Sold_Cash</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Closing_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_on_Sold_Finance</name>
        <label>Update Opportunity on Sold Finance</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Subflow_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Closing_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlFinanceClosingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Stage__c</field>
            <value>
                <stringValue>Financing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Type__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Financing</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_on_Unreachable</name>
        <label>Update Opportunity on Unreachable</label>
        <locationX>1810</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Visit_on_Unreachable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlNextTaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>(Re)Setting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Result_Visit_Task</name>
        <label>Update Result Visit Task</label>
        <locationX>1722</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>checkVisitResults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubTaskResult__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_on_Closed_Lost</name>
        <label>Update Visit on Closed / Lost</label>
        <locationX>2998</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>checkResult3forDNC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_on_Follow_Up_Call_to_Re_Set</name>
        <label>Update Visit on Follow Up : Call to Re/Set</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Account_on_Follow_Up_Call_to_Re_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_on_Follow_Up_Not_Ready</name>
        <label>Update Visit on Follow Up : Not Ready</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Account_on_Follow_Up_Not_Ready</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_on_Follow_Up_Visit_Set</name>
        <label>Update Visit on Follow Up : Visit Set</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_on_No_Interest</name>
        <label>Update Visit on No Interest</label>
        <locationX>2206</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>checkResult2Again</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_on_Re_Set_Visit_Set</name>
        <label>Update Visit on Re/Set : Visit Set</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abandoned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_on_Sold</name>
        <label>Update Visit on Sold</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_on_Sold_Finance</name>
        <label>Update Visit on Sold Finance</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id_to_CurOpportunity_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_on_Unreachable</name>
        <label>Update Visit on Unreachable</label>
        <locationX>1810</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Account_on_Unreachable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abandoned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <elementReference>curVisit.Visit_Result_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <elementReference>curVisit.Visit_Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <screens>
        <name>screenResultVisitDetails</name>
        <label>screenResultVisitDetails</label>
        <locationX>1722</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Result_Visit_Task</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>curVisit.Visit_Result__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>curVisit.Visit_Result_2__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>curVisit.Visit_Result_3__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Description</objectFieldReference>
        </fields>
        <fields>
            <name>Closing_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Closing Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>curVisit.Visit_Result__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Closed / Won</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenResultVisitDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenResultVisitDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxtNextTask</name>
                    <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(19, 202, 65);&quot;&gt;Next Task&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>inputAssignedTo</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OwnerId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned To</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>nextTask.ActivityDate</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unreachable</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>curVisit.Visit_Result_2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Follow Up</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>curVisit.Visit_Result_3__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Visit Set</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Wrong_Button_Screen</name>
        <label>Wrong Button Screen</label>
        <locationX>3570</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaytextOOPS</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 28px;&quot;&gt;OOPS WRONG BUTTON.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;(Result Visit button is for Resulting VISITS)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2520</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkTaskType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_New_Opportunity_Team_Member</name>
        <label>Create New Opportunity Team Member</label>
        <locationX>1722</locationX>
        <locationY>1490</locationY>
        <flowName>subflowAddOpportunityTeamMember</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_New_Visit_on_Follow_Up_Visit_Set</name>
        <label>Create New Visit on Follow Up : Visit Set</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Account_on_Follow_Up_Visit_Set</targetReference>
        </connector>
        <flowName>Opportunity_New_Visit</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_New_Visit_on_Re_Set_Visit_Set</name>
        <label>Create New Visit on Re/Set : Visit Set</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Account_on_Re_Set_Visit_Set</targetReference>
        </connector>
        <flowName>Opportunity_New_Visit</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Subflow_4</name>
        <label>Subflow 4</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Account_on_Sold_Finance</targetReference>
        </connector>
        <flowName>subflow_Add_Opportunity_Team_Member_Finance_Manager</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>curOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>curVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>nextTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
