force-app/main/default/flows/action_Confirmed_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>fmlNextTaskDueDateResultVisit</name>
        <dataType>Date</dataType>
        <expression>{!recordId.ActivityDate} + 1</expression>
    </formulas>
    <formulas>
        <name>fmlNextTaskSubjectResultVisit</name>
        <dataType>String</dataType>
        <expression>&quot;Result Visit&quot; +
&quot; : &quot; +
{!recordId.Account.Name}</expression>
    </formulas>
    <interviewLabel>action - Confirmed Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>action - Confirmed Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Task_Result_Visit</name>
        <label>New Task Result Visit</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Account_Dispotion</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fmlNextTaskDueDateResultVisit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>recordId.Property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubTaskResult__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fmlNextTaskSubjectResultVisit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Result__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Result</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>recordId.Visit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account_Dispotion</name>
        <label>Update Account Dispotion</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <stringValue>Confirmed : Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Confirmation_Task</name>
        <label>Update Confirmation Task</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Update_Opportunity_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubTaskResult__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Result__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Confirmed</name>
        <label>Update Opportunity Confirmed</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>New_Task_Result_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Visit__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Confirmation_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
