force-app/main/default/flows/action_on_Opportunity_Update_Finance_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>checkbuttonScreenUpdateFinanceStatus</name>
        <label>checkbuttonScreenUpdateFinanceStatus</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>checkFinanceStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonScreenUpdateFinanceStatus.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFinanceStage</name>
        <label>checkFinanceStage</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Finance_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved &amp; Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Approved &amp; Paid</label>
        </rules>
        <rules>
            <name>Canceled_OR_Unapproved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Finance_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Finance_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unapproved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Canceled_OR_Unnaproved</targetReference>
            </connector>
            <label>Canceled OR Unapproved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlAccountDisposition</name>
        <dataType>String</dataType>
        <expression>&quot;Finance : &quot; + TEXT({!recordId.Finance_Stage__c})</expression>
    </formulas>
    <formulas>
        <name>fmlOpportunityLostReason</name>
        <dataType>String</dataType>
        <expression>&quot;Finance : &quot; + TEXT({!recordId.Finance_Stage__c})</expression>
    </formulas>
    <interviewLabel>action - on Opportunity - Update Finance Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>action - on Opportunity - Update Finance Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Account_Approved_Paid</name>
        <label>Update Account Approved &amp; Paid</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Canceled_OR_Unnaproved</name>
        <label>Update Account Canceled OR Unnaproved</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Account_Approved_Paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>recordId.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Stage__c</field>
            <value>
                <elementReference>recordId.Finance_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Type__c</field>
            <value>
                <elementReference>recordId.Finance_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Canceled_OR_Unnaproved</name>
        <label>Update Opportunity Canceled OR Unnaproved</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Account_Canceled_OR_Unnaproved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>recordId.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Stage__c</field>
            <value>
                <elementReference>recordId.Finance_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Type__c</field>
            <value>
                <elementReference>recordId.Finance_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <elementReference>fmlOpportunityLostReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Other</name>
        <label>Update Opportunity Other</label>
        <locationX>704</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>recordId.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Stage__c</field>
            <value>
                <elementReference>recordId.Finance_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Type__c</field>
            <value>
                <elementReference>recordId.Finance_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>screenUpdateOpportunity</name>
        <label>screenUpdateOpportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkbuttonScreenUpdateFinanceStatus</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.CloseDate</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Finance_Stage__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Finance_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Description</objectFieldReference>
        </fields>
        <fields>
            <name>buttonScreenUpdateFinanceStatus</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:cancel_file_request&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:save&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screenUpdateOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
