force-app/main/default/flows/Action_Change_Visit_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>fmlConfirmationCallSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Confirm : &quot; +
{!recordId.Account.Name} +
&quot; - &quot; +
TEXT(MONTH(DATEVALUE({!inputNew_Visit_Time}))) + &quot;/&quot; + TEXT(DAY(DATEVALUE({!inputNew_Visit_Time}))) + &quot;/&quot; + TEXT(YEAR(DATEVALUE({!inputNew_Visit_Time})))</expression>
    </formulas>
    <formulas>
        <name>fmlConfirmationDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!inputNew_Visit_Time} - 3)</expression>
    </formulas>
    <formulas>
        <name>fmlNewVisitEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!inputNew_Visit_Time} + {!recordId.Next_Visit__r.VisitType.EstimatedDuration}/24</expression>
    </formulas>
    <formulas>
        <name>fmlOpportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!inputNew_Visit_Time})</expression>
    </formulas>
    <interviewLabel>Action - Change Visit Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action - Change Visit Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Confirmation_Task</name>
        <label>Update Confirmation Task</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Opportunity_Close_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Next_Visit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirm</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fmlConfirmationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fmlConfirmationCallSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Close_Date</name>
        <label>Update Opportunity Close Date</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visit_Time</name>
        <label>Update Visit Time</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Update_Confirmation_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Next_Visit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlannedVisitEndTime</field>
            <value>
                <elementReference>fmlNewVisitEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedVisitStartTime</field>
            <value>
                <elementReference>inputNew_Visit_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <screens>
        <name>screenNewVisitTime</name>
        <label>screenNewVisitTime</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Visit_Time</targetReference>
        </connector>
        <fields>
            <name>inputNew_Visit_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>New Visit Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>buttonBarNewTime</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:cancel_file_request&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Done&quot;,&quot;value&quot;:&quot;Done&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screenNewVisitTime</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
