force-app/main/default/flows/action_on_Opportunity_Cancel_Deal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>choiceCanceledDealDoNotCall</name>
        <choiceText>Canceled Deal : Do Not Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled Deal : Do Not Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCanceledDealFinanceObjection</name>
        <choiceText>Canceled Deal : Finance Objection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled Deal : Finance Objection</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCanceledDealNotReady</name>
        <choiceText>Canceled Deal : Not Ready</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled Deal : Not Ready</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCanceledDealPriceObjection</name>
        <choiceText>Canceled Deal : Price Objection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled Deal : Price Objection</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkButtonCancelationScreen</name>
        <label>checkButtonCancelationScreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonScreenCancelationDetails.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <label>Back</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlAccountStage</name>
        <dataType>String</dataType>
        <expression>IF({!inputCancelationReason} = &quot;Canceled Deal : Do Not Call&quot;, &quot;Lost&quot;, &quot;Nurturing&quot;)</expression>
    </formulas>
    <interviewLabel>action - on Opportunity - Cancel Deal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>action - on Opportunity - Cancel Deal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>inputCancelationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>fmlAccountStage</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>308</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Stage__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lost_Reason__c</field>
            <value>
                <elementReference>inputCancelationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>screenCancelationDetails</name>
        <label>screenCancelationDetails</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkButtonCancelationScreen</targetReference>
        </connector>
        <fields>
            <name>inputCancelationReason</name>
            <choiceReferences>choiceCanceledDealDoNotCall</choiceReferences>
            <choiceReferences>choiceCanceledDealNotReady</choiceReferences>
            <choiceReferences>choiceCanceledDealPriceObjection</choiceReferences>
            <choiceReferences>choiceCanceledDealFinanceObjection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancelation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Description</objectFieldReference>
        </fields>
        <fields>
            <name>buttonScreenCancelationDetails</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Closed / Lost&quot;,&quot;value&quot;:&quot;Closed / Lost&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screenCancelationDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
