force-app/main/default/flows/action_Search_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Account_Variables_on_Found_Account</name>
        <label>Assign Account Variables on Found Account</label>
        <locationX>891</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>curAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.AccountSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.Secondary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Secondary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.Primary_Residence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Primary_Residence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>checkButtonOnAccountUpdateOrCreation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Account_Variables_on_Found_Account</name>
        <label>Copy 1 of Assign Account Variables on Found Account</label>
        <locationX>600</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>curAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curAccount.AccountSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Primary_Contact_On_New_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.Secondary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Secondary_Contact_on_New_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputPickAccountType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupAccountOwner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.Primary_Residence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Property</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkButtonOnAccountUpdateOrCreation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_curVisit_Value_for_Back</name>
        <label>check curVisit Value for Back</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Disposition_Re_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_curVisit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Found_and_Updated_Screen</targetReference>
            </connector>
            <label>Back - curVisit</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_missing_contacts</name>
        <label>check for missing contacts</label>
        <locationX>1590</locationX>
        <locationY>1124</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>missing_primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curPrimaryContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_Contact</targetReference>
            </connector>
            <label>missing primary</label>
        </rules>
        <rules>
            <name>secondary_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curSecondaryContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkboxSecond_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_Contact</targetReference>
            </connector>
            <label>secondary missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkButtonAccountCreationScreen</name>
        <label>checkButtonAccountCreationScreen</label>
        <locationX>193</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonAccountCreationScreen.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Search_Contact_Screen</targetReference>
            </connector>
            <label>Back</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkButtonOnAccountUpdateOrCreation</name>
        <label>checkButtonOnAccountUpdateOrCreation</label>
        <locationX>600</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Visit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>buttonNewAccountCreatedScreen.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonAccountFoundAndUpdatedScreen.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Account_Active</targetReference>
            </connector>
            <label>New Visit</label>
        </rules>
        <rules>
            <name>New_Follow_Up</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>buttonNewAccountCreatedScreen.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonAccountFoundAndUpdatedScreen.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Follow Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Follow_Up_on_Account</targetReference>
            </connector>
            <label>New Follow Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_curVisit_Value_for_Back</name>
        <label>Copy 1 of check curVisit Value for Back</label>
        <locationX>666</locationX>
        <locationY>1730</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Back_curVisit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curVisit.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Found_and_Updated_Screen</targetReference>
            </connector>
            <label>Copy 1 of Back - curVisit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist</label>
        <locationX>1590</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Secondary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Primary_Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curPrimaryContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Contact Primary Contact Exist</label>
        </rules>
        <rules>
            <name>Contact_Primary_Not_Found_And_Secondary_Contact_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curPrimaryContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkboxSecond_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Contact</targetReference>
            </connector>
            <label>Contact Primary Not Found And Secondary Contact Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Secondary_Contact_Exist</name>
        <label>Does Secondary Contact Exist</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Account_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secondary_Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curSecondaryContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Secondary Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Active</name>
        <label>Is Account Active?</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>New_Visit_Opportunity_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_on_Active_Account</targetReference>
            </connector>
            <label>Account is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Secondary_Contact_Checked</name>
        <label>is Secondary Contact Checked</label>
        <locationX>600</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secondary_Contact_is_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkboxSecond_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_Contact_on_New_Account</targetReference>
            </connector>
            <label>Secondary Contact is Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Get_Elements</name>
        <label>Skip Get Elements</label>
        <locationX>891</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPrimaryContactName.firstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Account_Found</targetReference>
            </connector>
            <label>Skipped</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choicePickAccountSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountSource</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicePickAccountType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesPropertyTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StoreType</picklistField>
        <picklistObject>RetailStore</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlDefaultAccountType</name>
        <dataType>String</dataType>
        <expression>IF({!Current_Customer}, &quot;Customer&quot;, &quot;Prospect&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlNewAccountName</name>
        <dataType>String</dataType>
        <expression>{!curPrimaryContact.LastName} +
&quot;, &quot; + {!curPrimaryContact.FirstName} +
IF(NOT(ISBLANK({!curSecondaryContact.FirstName})), IF({!curSecondaryContact.LastName} = {!curPrimaryContact.LastName} , &quot; &amp; &quot; + {!curSecondaryContact.FirstName}, &quot; &amp; &quot; + {!curSecondaryContact.LastName} + &quot;, &quot; + {!curSecondaryContact.FirstName}), NULL) +
&quot; Household&quot;</expression>
    </formulas>
    <interviewLabel>action - Search Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>action - Get Account by Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>600</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>New_Property</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountSource</field>
            <value>
                <elementReference>curAccount.AccountSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>lookupAccountOwner.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>curPrimaryContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>curSecondaryContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>inputPickAccountType</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Primary_Contact</name>
        <label>New Primary Contact</label>
        <locationX>1326</locationX>
        <locationY>1232</locationY>
        <assignRecordIdToReference>curPrimaryContact.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>inputPrimaryContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>inputPrimaryContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>inputHomePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>inputPrimaryContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>inputPrimaryContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isCurrent_Customer__c</field>
            <value>
                <elementReference>Current_Customer</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>New_Primary_Contact_On_New_Account</name>
        <label>New Primary Contact On New Account</label>
        <locationX>600</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>is_Secondary_Contact_Checked</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>New_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>inputPrimaryContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>inputPrimaryContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>inputHomePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>inputPrimaryContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>curAccount.AccountSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>inputPrimaryContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>lookupAccountOwner.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Property</name>
        <label>New Property</label>
        <locationX>600</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>New_Primary_Contact_On_New_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>New_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>newProperty.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>newProperty.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newProperty.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>lookupAccountOwner.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>newProperty.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>newProperty.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StoreType</field>
            <value>
                <elementReference>inputPickPropertyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>newProperty.Street</elementReference>
            </value>
        </inputAssignments>
        <object>RetailStore</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Secondary_Contact</name>
        <label>New Secondary Contact</label>
        <locationX>1590</locationX>
        <locationY>1232</locationY>
        <assignRecordIdToReference>curSecondaryContact.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>inputSecondaryContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>inputSecondaryContactNames.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>inputHomePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>inputSecondaryContactNames.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>inputSecondaryContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isCurrent_Customer__c</field>
            <value>
                <elementReference>Current_Customer</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>New_Secondary_Contact_on_New_Account</name>
        <label>New Secondary Contact on New Account</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_New_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>New_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>inputSecondaryContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>inputSecondaryContactNames.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>inputHomePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>inputSecondaryContactNames.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>curAccount.AccountSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>inputSecondaryContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>lookupAccountOwner.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1590</locationX>
        <locationY>1016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_missing_contacts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curPrimaryContact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curSecondaryContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_on_Active_Account</name>
        <label>Get Opportunity on Active Account</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Visit_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>1590</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputPrimaryContactName.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputPrimaryContactName.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>inputPrimaryContactPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>inputPrimaryContactPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>inputPrimaryContactPhone.value</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>curPrimaryContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Contact</name>
        <label>Get Secondary Contact</label>
        <locationX>1546</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Secondary_Contact_Exist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputSecondaryContactNames.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputSecondaryContactNames.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>inputSecondaryContactPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>inputSecondaryContactPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>inputSecondaryContactPhone.value</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>curSecondaryContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1590</locationX>
        <locationY>1424</locationY>
        <connector>
            <targetReference>Account_Found_and_Updated_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>curPrimaryContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>curSecondaryContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Disposition_Re_Set</name>
        <label>Update Account Disposition Re/Set</label>
        <locationX>270</locationX>
        <locationY>2138</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <stringValue>Re/Set : Visit Set</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Account</name>
        <label>Update New Account</label>
        <locationX>600</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>screenNewAccountCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fmlNewAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>New_Primary_Contact_On_New_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Residence__c</field>
            <value>
                <elementReference>New_Property</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>New_Secondary_Contact_on_New_Account</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Account_Found_and_Updated_Screen</name>
        <label>Account Found and Updated Screen</label>
        <locationX>891</locationX>
        <locationY>2690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Account_Variables_on_Found_Account</targetReference>
        </connector>
        <fields>
            <name>displaytextAccountFoundandUpdated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(8, 205, 4); font-size: 18px;&quot;&gt;Account Found &amp;amp; Updated&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>buttonAccountFoundAndUpdatedScreen</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;New Visit&quot;,&quot;value&quot;:&quot;New Visit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:home&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;New Follow Up&quot;,&quot;value&quot;:&quot;New Follow Up&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:call&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Done&quot;,&quot;value&quot;:&quot;Done&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Account_Found</name>
        <label>No Account Found</label>
        <locationX>193</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkButtonAccountCreationScreen</targetReference>
        </connector>
        <fields>
            <name>displaytextNoAccountFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(165, 80, 231); font-size: 16px;&quot;&gt;Create Account&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Account_Found_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Account_Found_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newProperty.Address</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>curAccount.AccountSource</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Account_Found_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputPickPropertyType</name>
                    <choiceReferences>choicesPropertyTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Residential</stringValue>
                    </defaultValue>
                    <fieldText>Property Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>lookupAccountOwner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OwnerId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>inputPickAccountType</name>
                    <choiceReferences>choicePickAccountType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fmlDefaultAccountType</elementReference>
                    </defaultValue>
                    <fieldText>Account Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>buttonAccountCreationScreen</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Done&quot;,&quot;value&quot;:&quot;Done&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNewAccountCreated</name>
        <label>screenNewAccountCreated</label>
        <locationX>600</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Account_Variables_on_Found_Account</targetReference>
        </connector>
        <fields>
            <name>displaytextNewAccountCreated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(8, 205, 4);&quot;&gt;New Account Created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>buttonNewAccountCreatedScreen</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;New Visit&quot;,&quot;value&quot;:&quot;New Visit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:home&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;New Follow Up&quot;,&quot;value&quot;:&quot;New Follow Up&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:call&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Done&quot;,&quot;value&quot;:&quot;Done&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Contact_Screen</name>
        <label>Search Contact Screen</label>
        <locationX>891</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Skip_Get_Elements</targetReference>
        </connector>
        <fields>
            <name>inputPrimaryContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputPrimaryContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputPrimaryContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>checkboxSecond_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Second Contact?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputSecondaryContactNames</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>inputPrimaryContactName.lastName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkboxSecond_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputSecondaryContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkboxSecond_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputSecondaryContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkboxSecond_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>checkboxHomePhone</name>
            <dataType>Boolean</dataType>
            <fieldText>HomePhone?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputHomePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkboxHomePhone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayCurrentCustomer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(32, 3, 255); font-size: 16px;&quot;&gt;CURRENT CUSTOMER?!?!?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Current_Customer</name>
            <dataType>Boolean</dataType>
            <fieldText>Current Customer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>buttonBarSearchContactScreen</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Search Contacts&quot;,&quot;value&quot;:&quot;Search Contacts&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:search&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>765</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Contact_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Follow_Up_on_Account</name>
        <label>New Follow Up on Account</label>
        <locationX>666</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Copy_1_of_check_curVisit_Value_for_Back</targetReference>
        </connector>
        <flowName>New_Call_Back_on_Account</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>curAccount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>curVisit</assignToReference>
            <name>curVisit</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>New_Visit_on_Opportunity</name>
        <label>New Visit on Opportunity</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>check_curVisit_Value_for_Back</targetReference>
        </connector>
        <flowName>Opportunity_New_Visit</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Opportunity_on_Active_Account</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>curVisit</assignToReference>
            <name>curVisit</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>New_Visit_Opportunity_on_Account</name>
        <label>New Visit &amp; Opportunity on Account</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>check_curVisit_Value_for_Back</targetReference>
        </connector>
        <flowName>action_Visit_Opportunity_on_Account</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>curAccount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>curVisit</assignToReference>
            <name>curVisit</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>curAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>curPrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>curSecondaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>curVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>newProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RetailStore</objectType>
    </variables>
</Flow>
