force-app/main/default/flows/AutoLaunch_WorkOrderFromVisit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignWorkOrderValues</name>
        <label>AssignWorkOrderValues</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RetailStore.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RetailStore.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RetailStore.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RetailStore.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RetailStore.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08qHs000000kgPPIAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit.PlannedVisitStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit.Visit_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit.PlannedVisitEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0HhR70000002pMbKAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateWorkOrder</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AutoLaunch - WorkOrderFromVisit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoLaunch - WorkOrderFromVisit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>WorkOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RetailStore</name>
        <label>Get RetailStore</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignWorkOrderValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Visit.PlaceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RetailStore</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RetailStore</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Visit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
