force-app/main/default/flows/List_Campaign_ANI_Refresh_Batchable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>redirect</name>
        <label>redirect</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <stringValue>https://bristolnebraska.lightning.force.com/lightning/o/Campaign/list</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowURLRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>List Campaign ANI Refresh Batchable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>List Campaign ANI Refresh Batchable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CampaignANIBatchScreen</name>
        <label>CampaignANIBatchScreen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>redirect</targetReference>
        </connector>
        <fields>
            <name>CampaignANiBatchMass</name>
            <extensionName>c:campaignAniBatchMassAction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>ids</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CampaignANIBatchScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
