force-app/main/default/flows/New_Call_Back_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Back_to_curVisit</name>
        <label>Assign Back to curVisit</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>curVisit.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Back</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkButtonValue</name>
        <label>checkButtonValue</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonBarCallBackScreen.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Back_to_curVisit</targetReference>
            </connector>
            <label>Back</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklistTaskSubtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TaskSubtype</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlAccountDisposition</name>
        <dataType>String</dataType>
        <expression>IF({!pickFollowUpType.value} = &quot;Follow Up&quot;, &quot;Follow Up : Not Ready&quot;, &quot;Follow Up : Call to Re/Set&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlAccountStage</name>
        <dataType>String</dataType>
        <expression>IF({!pickFollowUpType.value} = &quot;Follow Up&quot;, &quot;Working&quot;, &quot;Active&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!curTask.ReminderDateTime})</expression>
    </formulas>
    <formulas>
        <name>fmlTaskSubject</name>
        <dataType>String</dataType>
        <expression>{!pickFollowUpType.value} + &quot; : &quot; +
{!recordId.Primary_Contact__r.FirstName} +
&quot; &quot; +
{!recordId.Primary_Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>fmlTaskType</name>
        <dataType>String</dataType>
        <expression>IF({!pickFollowUpType.value} = &quot;Follow Up&quot;, &quot;Follow Up&quot;, &quot;Re/Set&quot;)</expression>
    </formulas>
    <interviewLabel>New Call Back on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>action - On Account - New Follow Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>screenSuccess</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fmlTaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>curTask.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>recordId.Primary_Residence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>curTask.ReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubTaskResult__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fmlTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Result__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <elementReference>fmlTaskType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account_Disposition</name>
        <label>Update Account Disposition</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Disposition__c</field>
            <value>
                <elementReference>fmlAccountDisposition</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>screenSuccess</name>
        <label>screenSuccess</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account_Disposition</targetReference>
        </connector>
        <fields>
            <name>txtSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px; color: rgb(22, 199, 28);&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>buttonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Done&quot;,&quot;value&quot;:&quot;Done&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Visit_Info_Screen</name>
        <label>Visit Info Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkButtonValue</targetReference>
        </connector>
        <fields>
            <name>pickFollowUpType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Follow Up : Call to Re/Set&quot;,&quot;value&quot;:&quot;Call to Re/Set&quot;},{&quot;label&quot;:&quot;Follow Up : Not Ready&quot;,&quot;value&quot;:&quot;Follow Up&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Follow Up Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>Follow Up : Not Ready</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>curTask.ReminderDateTime</objectFieldReference>
        </fields>
        <fields>
            <name>UserLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>curTask.Description</objectFieldReference>
        </fields>
        <fields>
            <name>buttonBarCallBackScreen</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;iconName&quot;:&quot;utility:back&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:forward&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Visit_Info_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>curVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
