force-app/main/default/flows/Opportunity_New_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Back_to_curVisit</name>
        <label>Assign Back to curVisit</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>curVisit.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Back</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkButtonValue</name>
        <label>checkButtonValue</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>New_Visit_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonBarVisitScreen.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Back_to_curVisit</targetReference>
            </connector>
            <label>Back</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choicesProperty</name>
        <collectionReference>Get_Account_Properties</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RetailStore</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity - New Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>action - on Opportunity - New Visit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Visit_Record</name>
        <label>New Visit Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceId</field>
            <value>
                <elementReference>Property.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedVisitStartTime</field>
            <value>
                <elementReference>curVisit.PlannedVisitStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitTypeId</field>
            <value>
                <elementReference>VisitTypeLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_2__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result_3__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Result__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Type__c</field>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitorId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Properties</name>
        <label>Get Account Properties</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Visit_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RetailStore</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Visit_Details</name>
        <label>Visit Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkButtonValue</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>curVisit.PlannedVisitStartTime</objectFieldReference>
        </fields>
        <fields>
            <name>Property</name>
            <choiceReferences>choicesProperty</choiceReferences>
            <defaultValue>
                <elementReference>recordId.Property__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Property</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VisitTypeLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>VisitTypeId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Visit Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>08qHs000000kgPPIAY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>buttonBarVisitScreen</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Done&quot;,&quot;value&quot;:&quot;Done&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Properties</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
