force-app/main/default/flows/Scheduled_Mass_Update_Lead_ba.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetANI</name>
        <label>GetANI</label>
        <locationX>446</locationX>
        <locationY>660</locationY>
        <actionName>ANIUpdate.GetANI</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaign_id</name>
            <value>
                <stringValue>Outbound - Cold Calling</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>api_key</name>
            <value>
                <stringValue>A2889ED0-265A-D9F8-14F4-BDCEFE0610E0</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ANIUpdate.GetANI</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_b7</name>
        <label>Assign b7</label>
        <locationX>710</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>curLead.b7ef8429_9f35_4102_b1ea_44d3453a5086__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.b7ef8429x2d9f35x2d4102x2db1eax2d44d3453a5086</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_ba_for_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ba</name>
        <label>Assign ba</label>
        <locationX>710</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>curLead.ba685ce4_2c28_433a_a4c6_cac18b40f436__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.ba685ce4x2d2c28x2d433ax2da4c6x2dcac18b40f436</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>input_2ndary</name>
        <label>input 2ndary</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Secondary_Contact_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetANI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>input_homePhone</name>
        <label>input homePhone</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetANI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>input_mobile</name>
        <label>input mobile</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetANI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_b7_null</name>
        <label>check b7 null</label>
        <locationX>622</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Assign_b7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>b7_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.b7ef8429x2d9f35x2d4102x2db1eax2d44d3453a5086</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_ba_for_null</targetReference>
            </connector>
            <label>b7 is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_ba_for_null</name>
        <label>check ba for null</label>
        <locationX>622</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Assign_ba</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ba_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.ba685ce4x2d2c28x2d433ax2da4c6x2dcac18b40f436</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>ba is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Mobile_Number</name>
        <label>Check for Mobile Number</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>end</defaultConnectorLabel>
        <rules>
            <name>mobile_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>input_mobile</targetReference>
            </connector>
            <label>mobile not null</label>
        </rules>
        <rules>
            <name>is_Phone_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>input_homePhone</targetReference>
            </connector>
            <label>is Phone not null</label>
        </rules>
        <rules>
            <name>X2ndary_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Contact_Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>input_2ndary</targetReference>
            </connector>
            <label>2ndary not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Scheduled - Mass Update Lead ba {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled - Mass Update Lead ba</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>446</locationX>
        <locationY>768</locationY>
        <collectionReference>GetANI.2XX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_b7_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record_Lead</name>
        <label>Update Record(Lead)</label>
        <locationX>446</locationX>
        <locationY>1560</locationY>
        <inputAssignments>
            <field>b7ef8429_9f35_4102_b1ea_44d3453a5086__c</field>
            <value>
                <elementReference>curLead.b7ef8429_9f35_4102_b1ea_44d3453a5086__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ba685ce4_2c28_433a_a4c6_cac18b40f436__c</field>
            <value>
                <elementReference>curLead.ba685ce4_2c28_433a_a4c6_cac18b40f436__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_for_Amount_of_Time_1</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>ba685ce4_2c28_433a_a4c6_cac18b40f436__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2024-07-24T05:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>City</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lincoln</stringValue>
            </value>
        </filters>
        <filters>
            <field>Street</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-07-29</startDate>
            <startTime>13:52:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApexClassOutboundANI</name>
        <apexClass>ExternalService__ANIUpdate_GetANI_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Amount_of_Time_1</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait for Amount of Time 1</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Check_for_Mobile_Number</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
