force-app/main/default/flows/ScreenFlow_Account_Claim_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <dynamicChoiceSets>
        <name>UserRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>UserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos; &apos;+ {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>ScreenFlow - Account - Claim Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow - Account - Claim Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Account_Owner_Screen</name>
        <label>Account Owner Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;*When Account Ownership is transfered, Admins are notified. Be sure Accounts you take ownership of ACTUALLY belong to you.&lt;/p&gt;&lt;p&gt;*If an Account is claimed with an open Opportunity from ACT, Sweeps, PVC Lists, etc. the Opportunity will remain owned by the Opportunity Creator and be split with the Account Owner.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Account_Owner</name>
            <choiceReferences>UserRecords</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>New Account Owner</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Owner_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <flowName>SubFlow_Account_Update_Owner_Bypass_Sharing</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>New_Account_Owner.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
