force-app/main/default/flows/screenFlow_Opportunity_Update_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_curOpportunityProduct_to_Update_Collection</name>
        <label>Assign curOpportunityProduct to Update Collection</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>colUpdateOpportunityProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Unit_Price</name>
        <label>Assign New Unit Price</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>curOpportunityProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlOpportunityProductUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curOpportunityProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_curOpportunityProduct_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Opportunity_Products</name>
        <label>Check for Opportunity Products</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Products_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>Opportunity Products NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlOpportunityProductUnitPrice</name>
        <dataType>Number</dataType>
        <expression>{!Opportunity_Amount}/{!recordId.Amount}*{!Opportunity_Products.UnitPrice}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>screenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>screenFlow - Opportunity - Update Amount</label>
    <loops>
        <name>Opportunity_Products</name>
        <label>Opportunity Products</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Unit_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Opportunity_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Products</name>
        <label>Update Opportunity Products</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <inputReference>colUpdateOpportunityProducts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Opportunity_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>New_Opportunity_Amount</name>
        <label>New Opportunity Amount</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_Opportunity_Products</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>recordId.Amount</elementReference>
            </defaultValue>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colUpdateOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>curOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
