force-app/main/default/flows/trigger_on_Contact_Phone_Update_Manage_Phone_Relationships_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Compare_P2PRelationsExisting_with_all_P2Ps</name>
        <label>Compare P2PRelationsExisting with all P2Ps</label>
        <locationX>704</locationX>
        <locationY>3743</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_P2PRelations_Needing_Creation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>PhonePersonRelationship__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>PhonePersonRelationship__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>PhonePersonRelationship__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>PhonePersonRelationship__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>PhonePersonRelationship__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>PhonePersonRelationship__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emptyListsReturnNull</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>varCollectionPreExistingP2PRelations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>phonenumber__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>varCollectionAllP2PRelationAfter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>phonenumber__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <outputParameters>
            <assignToReference>varCollectionP2PRelationsNeedingCreation</assignToReference>
            <name>targetUniqueRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Compare_Prior_and_After</name>
        <label>Compare Prior and After</label>
        <locationX>704</locationX>
        <locationY>1871</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Pre_Existing_Phone_Numbers</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emptyListsReturnNull</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>varCollectionPriorNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>varCollectionAfterNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <outputParameters>
            <assignToReference>varPhoneNumbersRemoved</assignToReference>
            <name>sourceUniqueRecordCollection</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPhoneNumbersUnchanged</assignToReference>
            <name>targetCommonRecordCollection</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPhoneNumbersNew</assignToReference>
            <name>targetUniqueRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Compare_VarCollectionPreExistingNumbers_with_varCollectionAfterNumbers</name>
        <label>Compare VarCollectionPreExistingNumbers with varCollectionAfterNumbers</label>
        <locationX>704</locationX>
        <locationY>2387</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dedupe_Numbers_to_Create</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emptyListsReturnNull</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>varCollectionPreExistingNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>varCollectionAfterNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <outputParameters>
            <assignToReference>varCollectionNumbersNeedingCreation</assignToReference>
            <name>targetUniqueRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Dedupe_curContacts</name>
        <label>Dedupe curContacts</label>
        <locationX>1628</locationX>
        <locationY>6707</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_curContacts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>curContacts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupeRecordCollection</nameSegment>
        <outputParameters>
            <assignToReference>curContacts</assignToReference>
            <name>outputRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Dedupe_curLeads</name>
        <label>Dedupe curLeads</label>
        <locationX>1584</locationX>
        <locationY>6299</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_curLeads</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>curLeads</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupeRecordCollection</nameSegment>
        <outputParameters>
            <assignToReference>curLeads</assignToReference>
            <name>outputRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Dedupe_Numbers_to_Create</name>
        <label>Dedupe Numbers to Create</label>
        <locationX>704</locationX>
        <locationY>2495</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Numbers_Needing_Creation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>varCollectionNumbersNeedingCreation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupeRecordCollection</nameSegment>
        <outputParameters>
            <assignToReference>varCollectionNumbersNeedingCreation</assignToReference>
            <name>outputRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_PhoneId_from_AllPhonesAfter</name>
        <label>Get PhoneId from AllPhonesAfter</label>
        <locationX>704</locationX>
        <locationY>2819</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AllPhonesIdsAfter</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>allowEmptyCollection</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>varCollectionAllAfterPhones</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <outputParameters>
            <assignToReference>textVarPhoneIdsAfter</assignToReference>
            <name>fieldValueCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_RemovedPhoneIds</name>
        <label>Get RemovedPhoneIds</label>
        <locationX>836</locationX>
        <locationY>4175</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Records_4</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Phone_Numbers_to_UnRelate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Join_varCollectionPreExisting_with_varCollectionNumbersNeedingCreation</name>
        <label>Join varCollectionPreExisting with varCollectionNumbersNeedingCreation</label>
        <locationX>704</locationX>
        <locationY>2711</locationY>
        <actionName>JoinCollections</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_PhoneId_from_AllPhonesAfter</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection2</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>PhoneNumber__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>varCollectionPreExistingNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection2</name>
            <value>
                <elementReference>varCollectionNumbersNeedingCreation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>JoinCollections</nameSegment>
        <outputParameters>
            <assignToReference>varCollectionAllAfterPhones</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Cur_Number_to_After_Var</name>
        <label>Assign Cur Number to After Var</label>
        <locationX>792</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varCollectionAfterNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>After_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cur_Number_to_Prior_Var</name>
        <label>Assign Cur Number to Prior Var</label>
        <locationX>792</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varCollectionPriorNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_curContact_to_Collection</name>
        <label>Assign curContact to Collection</label>
        <locationX>2288</locationX>
        <locationY>5831</locationY>
        <assignmentItems>
            <assignToReference>curContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_P2PRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_curLead_to_Collection</name>
        <label>Assign curLead to Collection</label>
        <locationX>2552</locationX>
        <locationY>5831</locationY>
        <assignmentItems>
            <assignToReference>curLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_P2PRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_curP2PRelation_to_Collection</name>
        <label>Assign curP2PRelation to Collection</label>
        <locationX>792</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>varCollectionAllP2PRelationAfter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curP2PRelation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllPhonesIdsAfter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_on_Null_After</name>
        <label>Assign Empty on Null After</label>
        <locationX>836</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>varCollectionAfterNumbers</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Prior_and_After</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_on_Null_Prior</name>
        <label>Assign Empty on Null Prior</label>
        <locationX>572</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>varCollectionPriorNumbers</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Prior_and_After</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_to_Both_P2P_Exist_and_Create</name>
        <label>Assign Empty to Both P2P Exist and Create</label>
        <locationX>308</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>varCollectionPreExistingP2PRelations</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollectionAllP2PRelationAfter</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Compare_P2PRelationsExisting_with_all_P2Ps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_to_Both_Prior_After</name>
        <label>Assign Empty to Both Prior &amp; After</label>
        <locationX>308</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>varCollectionPriorNumbers</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollectionAfterNumbers</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Prior_and_After</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_to_P2PExisting</name>
        <label>Assign Empty to P2PExisting</label>
        <locationX>572</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>varCollectionPreExistingP2PRelations</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Compare_P2PRelationsExisting_with_all_P2Ps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_to_P2PsNeedingCreation</name>
        <label>Assign Empty to P2PsNeedingCreation</label>
        <locationX>836</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>varCollectionP2PRelationsNeedingCreation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Compare_P2PRelationsExisting_with_all_P2Ps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_to_PreExisting_Numbers_Var</name>
        <label>Assign Empty to PreExisting Numbers Var</label>
        <locationX>572</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>varCollectionPreExistingNumbers</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Compare_VarCollectionPreExistingNumbers_with_varCollectionAfterNumbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_to_Cur_Number</name>
        <label>Assign Name to Cur Number</label>
        <locationX>792</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>curPhoneNumber.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prior_Numbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Cur_Number_to_Prior_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Numbers_to_textColAllPhoneNumbers</name>
        <label>Assign Numbers to textColAllPhoneNumbers</label>
        <locationX>704</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>textCollectionPhonesPrior</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollectionPhonesPrior</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollectionPhonesAfter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollectionPhonesAfter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollectionPhonesAfter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollectionPhonesPrior</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.HomePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Empty_Strings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_P2P_Variables</name>
        <label>Assign P2P Variables</label>
        <locationX>792</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>curP2PRelation.Phonenumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllPhonesIdsAfter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curP2PRelation.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_curP2PRelation_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_CurContact</name>
        <label>Assign Values to CurContact</label>
        <locationX>2288</locationX>
        <locationY>5723</locationY>
        <assignmentItems>
            <assignToReference>curContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_P2PRs.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curContact.Flagged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlFlagged</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_curContact_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_curLead</name>
        <label>Assign Values to curLead</label>
        <locationX>2552</locationX>
        <locationY>5723</locationY>
        <assignmentItems>
            <assignToReference>curLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_P2PRs.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curLead.Flagged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlFlagged</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_curLead_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_21</name>
        <label>Assignment 21</label>
        <locationX>1584</locationX>
        <locationY>5099</locationY>
        <assignmentItems>
            <assignToReference>textVarAllPhoneIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Phones_Pre.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Phones_Pre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_9</name>
        <label>Assignment 9</label>
        <locationX>704</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>countPriorNumbers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varCollectionPriorNumbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countAfterNumbers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varCollectionAfterNumbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Empty_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Name_to_Cur_Number</name>
        <label>Copy 2 of Assign Name to Cur Number</label>
        <locationX>792</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>curPhoneNumber.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>After_Numbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Cur_Number_to_After_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Empty_Strings</name>
        <label>Remove Empty Strings</label>
        <locationX>704</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>textCollectionPhonesAfter</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>curPhoneNumber.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textCollectionPhonesPrior</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>curPhoneNumber.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Numbers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_All_Phone_Numbers_for_Null</name>
        <label>check All Phone Numbers for Null</label>
        <locationX>704</locationX>
        <locationY>4883</locationY>
        <defaultConnector>
            <targetReference>All_Phones_Pre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Phone_Numbers_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Phone_Numbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>All Phone Numbers is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_curContacts_for_Null</name>
        <label>check curContacts for Null</label>
        <locationX>1496</locationX>
        <locationY>6599</locationY>
        <defaultConnector>
            <targetReference>Dedupe_curContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>curContacts_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>curContacts is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_curLeads_for_Null</name>
        <label>check curLeads for Null</label>
        <locationX>1496</locationX>
        <locationY>6191</locationY>
        <defaultConnector>
            <targetReference>Dedupe_curLeads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>curLeads_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curLeads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_curContacts_for_Null</targetReference>
            </connector>
            <label>curLeads is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Empty_Values</name>
        <label>Check for Empty Values</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Assign_Numbers_to_textColAllPhoneNumbers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HomePhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.HomePhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Empty Values!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Empty_Vars</name>
        <label>Check for Empty Vars</label>
        <locationX>704</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Compare_Prior_and_After</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_After_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionPriorNumbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCollectionAfterNumbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_to_Both_Prior_After</targetReference>
            </connector>
            <label>Prior &amp; After is Empty</label>
        </rules>
        <rules>
            <name>Prior_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionPriorNumbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_on_Null_Prior</targetReference>
            </connector>
            <label>Prior is Empty</label>
        </rules>
        <rules>
            <name>After_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionAfterNumbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_on_Null_After</targetReference>
            </connector>
            <label>After is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_Null_Contact</name>
        <label>check for Null Contact</label>
        <locationX>2552</locationX>
        <locationY>5615</locationY>
        <defaultConnector>
            <targetReference>All_P2PRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_P2PRs.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_CurContact</targetReference>
            </connector>
            <label>Contact Not Null</label>
        </rules>
        <rules>
            <name>Lead_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_P2PRs.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_curLead</targetReference>
            </connector>
            <label>Lead Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Phone_Numbers_Removed_is_Null</name>
        <label>Check if Phone Numbers Removed is Null</label>
        <locationX>704</locationX>
        <locationY>4067</locationY>
        <defaultConnector>
            <targetReference>Get_RemovedPhoneIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Removed_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Phone_Numbers_to_UnRelate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Phone_Numbers</targetReference>
            </connector>
            <label>Removed is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_P2Ps_for_Null</name>
        <label>Check P2Ps for Null</label>
        <locationX>704</locationX>
        <locationY>3443</locationY>
        <defaultConnector>
            <targetReference>Compare_P2PRelationsExisting_with_all_P2Ps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_P2PExist_and_Create_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionAllP2PRelationAfter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCollectionPreExistingP2PRelations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_to_Both_P2P_Exist_and_Create</targetReference>
            </connector>
            <label>Both P2PExist and Create Null</label>
        </rules>
        <rules>
            <name>P2Ps_Existing_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionPreExistingP2PRelations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_to_P2PExisting</targetReference>
            </connector>
            <label>P2Ps Existing is Null</label>
        </rules>
        <rules>
            <name>P2Ps_Needing_Creation_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionP2PRelationsNeedingCreation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_to_P2PsNeedingCreation</targetReference>
            </connector>
            <label>P2Ps Needing Creation is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PreExisting_Phones_for_Null</name>
        <label>Check PreExisting Phones for Null</label>
        <locationX>704</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Compare_VarCollectionPreExistingNumbers_with_varCollectionAfterNumbers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreExisting_Var_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionPreExistingNumbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_to_PreExisting_Numbers_Var</targetReference>
            </connector>
            <label>PreExisting Var is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RemovedPhoneIds_for_Empty</name>
        <label>Check RemovedPhoneIds for Empty</label>
        <locationX>836</locationX>
        <locationY>4391</locationY>
        <defaultConnector>
            <targetReference>Delete_Removed_P2PRelations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Phone_Numbers</targetReference>
            </connector>
            <label>is Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlFlagged</name>
        <dataType>Boolean</dataType>
        <expression>IF({!All_Phones.Incidence__c} &gt; 1, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>trigger - on Contact Phone Update - Manage Phone Relationships V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>trigger - on Contact Phone Update - Manage Phone Relationships V2</label>
    <loops>
        <name>After_Numbers</name>
        <label>After Numbers</label>
        <locationX>704</locationX>
        <locationY>1055</locationY>
        <collectionReference>textCollectionPhonesAfter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_Name_to_Cur_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_9</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>All_P2PRs</name>
        <label>All P2PRs</label>
        <locationX>2200</locationX>
        <locationY>5507</locationY>
        <collectionReference>Get_All_P2PRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_Null_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Phones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>All_Phones</name>
        <label>All Phones</label>
        <locationX>1496</locationX>
        <locationY>5399</locationY>
        <collectionReference>Get_All_Phone_Numbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_P2PRs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_curLeads_for_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>All_Phones_Pre</name>
        <label>All Phones Pre</label>
        <locationX>1496</locationX>
        <locationY>4991</locationY>
        <collectionReference>Get_All_Phone_Numbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_21</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_P2PRs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AllPhonesIdsAfter</name>
        <label>AllPhonesIdsAfter</label>
        <locationX>704</locationX>
        <locationY>2927</locationY>
        <collectionReference>textVarPhoneIdsAfter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_P2P_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PreExisting_P2PRelations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Prior_Numbers</name>
        <label>Prior Numbers</label>
        <locationX>704</locationX>
        <locationY>647</locationY>
        <collectionReference>textCollectionPhonesPrior</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Name_to_Cur_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>After_Numbers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Numbers_Needing_Creation</name>
        <label>Create Numbers Needing Creation</label>
        <locationX>704</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Join_varCollectionPreExisting_with_varCollectionNumbersNeedingCreation</targetReference>
        </connector>
        <inputReference>varCollectionNumbersNeedingCreation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_P2PRelations_Needing_Creation</name>
        <label>Create P2PRelations Needing Creation</label>
        <locationX>704</locationX>
        <locationY>3851</locationY>
        <connector>
            <targetReference>Get_Phone_Numbers_to_UnRelate</targetReference>
        </connector>
        <inputReference>varCollectionP2PRelationsNeedingCreation</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Removed_P2PRelations</name>
        <label>Delete Removed P2PRelations</label>
        <locationX>924</locationX>
        <locationY>4499</locationY>
        <connector>
            <targetReference>Get_All_Phone_Numbers</targetReference>
        </connector>
        <inputReference>Get_Records_4</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_P2PRs</name>
        <label>Get All P2PRs</label>
        <locationX>1496</locationX>
        <locationY>5291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Phones</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Phonenumber__c</field>
            <operator>In</operator>
            <value>
                <elementReference>textVarAllPhoneIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PhonePersonRelationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>Phonenumber__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Phone_Numbers</name>
        <label>Get All Phone Numbers</label>
        <locationX>704</locationX>
        <locationY>4775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_All_Phone_Numbers_for_Null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>textCollectionPhonesPrior</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>textCollectionPhonesAfter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PhoneNumber__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Incidence__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Numbers_to_UnRelate</name>
        <label>Get Phone Numbers to UnRelate</label>
        <locationX>704</locationX>
        <locationY>3959</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Phone_Numbers_Removed_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>textCollectionPhonesPrior</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>textCollectionPhonesAfter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PhoneNumber__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pre_Existing_Phone_Numbers</name>
        <label>Get Pre-Existing Phone Numbers</label>
        <locationX>704</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PreExisting_Phones_for_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>textCollectionPhonesAfter</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>PhoneNumber__c</object>
        <outputReference>varCollectionPreExistingNumbers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PreExisting_P2PRelations</name>
        <label>Get PreExisting P2PRelations</label>
        <locationX>704</locationX>
        <locationY>3335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_P2Ps_for_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phonenumber__c</field>
            <operator>In</operator>
            <value>
                <elementReference>textVarPhoneIdsAfter</elementReference>
            </value>
        </filters>
        <object>PhonePersonRelationship__c</object>
        <outputReference>varCollectionPreExistingP2PRelations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phonenumber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_4</name>
        <label>Get Records 4</label>
        <locationX>836</locationX>
        <locationY>4283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RemovedPhoneIds_for_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phonenumber__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_RemovedPhoneIds.fieldValueCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PhonePersonRelationship__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_curContacts</name>
        <label>Update curContacts</label>
        <locationX>1628</locationX>
        <locationY>6815</locationY>
        <inputReference>curContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_curLeads</name>
        <label>Update curLeads</label>
        <locationX>1584</locationX>
        <locationY>6407</locationY>
        <connector>
            <targetReference>check_curContacts_for_Null</targetReference>
        </connector>
        <inputReference>curLeads</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Empty_Values</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.MobilePhone}) || ISCHANGED({!$Record.Phone}) || ISCHANGED({!$Record.HomePhone})</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>countAfterNumbers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countPriorNumbers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>curContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>curContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>curLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>curLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>curP2PRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhonePersonRelationship__c</objectType>
    </variables>
    <variables>
        <name>curPhoneNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Naughty_Phone_Numbers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Numbers_to_DeFlag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Numbers_to_Flag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>textCollectionPhonesAfter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textCollectionPhonesPrior</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textVarAllPhoneIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textVarNaughtyNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textVarPhoneIdsAfter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionAfterNumbers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>varCollectionAllAfterPhones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>varCollectionAllP2PRelationAfter</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhonePersonRelationship__c</objectType>
    </variables>
    <variables>
        <name>varCollectionNumbersNeedingCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>varCollectionP2PRelationsNeedingCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhonePersonRelationship__c</objectType>
    </variables>
    <variables>
        <name>varCollectionPreExistingNumbers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>varCollectionPreExistingP2PRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhonePersonRelationship__c</objectType>
    </variables>
    <variables>
        <name>varCollectionPriorNumbers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>varPhoneNumbersNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>varPhoneNumbersRemoved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
    <variables>
        <name>varPhoneNumbersUnchanged</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PhoneNumber__c</objectType>
    </variables>
</Flow>
