force-app/main/default/flows/trigger_on_Visit_Creation_Create_Confirmation_Task_Update_Related_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>fmlConfirmationCallSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Confirm : &quot; +
{!$Record.Account.AccountName__c} +
&quot; - &quot; +
TEXT(MONTH(DATEVALUE({!$Record.PlannedVisitStartTime}))) + &quot;/&quot; + TEXT(DAY(DATEVALUE({!$Record.PlannedVisitStartTime}))) + &quot;/&quot; + TEXT(YEAR(DATEVALUE({!$Record.PlannedVisitStartTime})))</expression>
    </formulas>
    <formulas>
        <name>fmlConfirmationDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.PlannedVisitStartTime} - 3)</expression>
    </formulas>
    <formulas>
        <name>fmlOpportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.PlannedVisitStartTime})</expression>
    </formulas>
    <formulas>
        <name>fmlOpportunityStageName</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Opportunity__r.StageName}) = &quot;Rep Working&quot;, &quot;Rep Working&quot;, &quot;Confirming&quot;)</expression>
    </formulas>
    <interviewLabel>trigger - on Visit Creation - Create Confirmation Task &amp; Update Related Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>trigger - on Visit Creation - Create Confirmation Task &amp; Update Related Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Task_Confirm</name>
        <label>Create New Task : Confirm</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Related_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fmlConfirmationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Hs00000DBF4cIAH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>$Record.PlaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubTaskResult__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fmlConfirmationCallSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Result__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Confirm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Opportunity__r.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Related_Opportunity</name>
        <label>Update Related Opportunity</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fmlOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>fmlOpportunityStageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Task_Confirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
