force-app/main/default/flows/trigger_on_Five9_Task_Creation_Update_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_ANI</name>
        <label>get ANI</label>
        <locationX>2954</locationX>
        <locationY>684</locationY>
        <actionName>ANIUpdate.GetANI</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Loop_Around_Var_Col</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>$Record.Five9DNIS__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaign_id</name>
            <value>
                <stringValue>Outbound - Cold Calling</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>api_key</name>
            <value>
                <stringValue>A2889ED0-265A-D9F8-14F4-BDCEFE0610E0</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ANIUpdate.GetANI</nameSegment>
        <outputParameters>
            <assignToReference>apexVarCol</assignToReference>
            <name>2XX</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_b7_from_sched_Who</name>
        <label>assign b7 from sched WhoRecord</label>
        <locationX>3218</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>b7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Around_Var_Col.b7ef8429x2d9f35x2d4102x2db1eax2d44d3453a5086</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_ba6_for_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ba6_from_sched_WhoRecord</name>
        <label>assign ba6 from sched WhoRecord</label>
        <locationX>3218</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>ba6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Around_Var_Col.ba685ce4x2d2c28x2d433ax2da4c6x2dcac18b40f436</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Around_Var_Col</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_b7_for_null</name>
        <label>check b7 for null</label>
        <locationX>3130</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>assign_b7_from_sched_Who</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>b7_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Around_Var_Col.b7ef8429x2d9f35x2d4102x2db1eax2d44d3453a5086</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_ba6_for_Null</targetReference>
            </connector>
            <label>b7 is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_ba6_for_Null</name>
        <label>check ba6 for Null</label>
        <locationX>3130</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>assign_ba6_from_sched_WhoRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ba6_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Around_Var_Col.ba685ce4x2d2c28x2d433ax2da4c6x2dcac18b40f436</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Around_Var_Col</targetReference>
            </connector>
            <label>ba6 is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Disposition_Value</name>
        <label>Check Disposition Value</label>
        <locationX>3152</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disposition_Result_Needs_a_New_ANI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Answer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No-Answer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answering Machine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer-Machine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answering-Machine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_or_Contact_Async_OutboundANI</targetReference>
            </connector>
            <label>Disposition Result Needs a New ANI</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Five9_Disposition</name>
        <label>check Five9 Disposition</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DNC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DNC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Do Not Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Update_Lead_or_Contact_Campaign_Member_Status</targetReference>
            </connector>
            <label>DNC</label>
        </rules>
        <rules>
            <name>Unqualfied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified : Renter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified : Minor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified : Senior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified : Deceased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified : Out of Territory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified : Can Not Do</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified : New Windows</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified : Language Barrier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_or_Contact_Campaign_Member_Status</targetReference>
            </connector>
            <label>Unqualfied</label>
        </rules>
        <rules>
            <name>Nurturing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurturing : Competitor Preference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurturing : Budget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurturing : Moving</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurturing : General No Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Lead_or_Contact_Campaign_Member_Status</targetReference>
            </connector>
            <label>Nurturing</label>
        </rules>
        <rules>
            <name>Bad_Contact_Info</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disconnected Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_or_Contact</targetReference>
            </connector>
            <label>Bad Contact Info</label>
        </rules>
        <rules>
            <name>Follow_Up</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up : Not Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up : Call to Set</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Update_Lead_or_Contact_Campaign_Member_Status</targetReference>
            </connector>
            <label>Follow Up</label>
        </rules>
        <rules>
            <name>Visit_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Set</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Update_Lead_or_Contact_Campaign_Member_Status</targetReference>
            </connector>
            <label>Visit Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Wrong_Association</name>
        <label>check Wrong Association</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>check_Five9_Disposition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_Association</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Five9DNIS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Lead.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Five9DNIS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Lead.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Five9DNIS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Lead.Secondary_Contact_Mobile__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Five9DNIS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Lead.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Five9DNIS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Lead.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Five9DNIS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Lead.Secondary_Contact_Mobile__c</elementReference>
                </rightValue>
            </conditions>
            <label>Wrong Association</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Contact_made</name>
        <label>is Contact made</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Update_CampaignMember_Contact_Contacted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contacted</defaultConnectorLabel>
        <rules>
            <name>Uncontacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Answer</stringValue>
                </rightValue>
            </conditions>
            <label>Uncontacted</label>
        </rules>
        <rules>
            <name>Bad_Contact_Info_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Bad_Phone</targetReference>
            </connector>
            <label>Bad Contact Info Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact_Async_OutboundANI</name>
        <label>Lead or Contact - Async OutboundANI</label>
        <locationX>2954</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_for_Scheduled_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>Lead_ANI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Lead_for_Scheduled_Path</targetReference>
            </connector>
            <label>Lead - ANI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact_to_Update</name>
        <label>Lead or Contact to Update</label>
        <locationX>2954</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>Update_related_Contact_Scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Sched Update</defaultConnectorLabel>
        <rules>
            <name>Lead_Sched_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_sched_Lead</targetReference>
            </connector>
            <label>Lead Sched Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fml2ndaryPhoneOnBadContactInfo</name>
        <dataType>String</dataType>
        <expression>IF(VALUE({!Get_Lead.Secondary_Contact_Mobile__c}) = VALUE({!$Record.Five9DNIS__c}), &quot;&quot;,{!Get_Lead.Secondary_Contact_Mobile__c})</expression>
    </formulas>
    <formulas>
        <name>fml_BadPhonesRTF_CONTACT</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Contact.Bad_Phones__c}),{!$Record.Five9DNIS__c},{!Get_Contact.Bad_Phones__c} + &quot;,&quot; + {!$Record.Five9DNIS__c})</expression>
    </formulas>
    <formulas>
        <name>fmlBadPhoneHistory</name>
        <dataType>String</dataType>
        <expression>{!Get_Lead.Bad_Phone_History__c} + BR() + {!$Record.Five9DNIS__c}</expression>
    </formulas>
    <formulas>
        <name>fmlBadPhoneHistoryContact</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.Bad_Phone_History__c} + BR() + {!$Record.Five9DNIS__c}</expression>
    </formulas>
    <formulas>
        <name>fmlBadPhonesRTF_LEAD</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Lead.Bad_Phones__c}),{!$Record.Five9DNIS__c}, {!Get_Lead.Bad_Phones__c} + &quot;,&quot; + {!$Record.Five9DNIS__c})</expression>
    </formulas>
    <formulas>
        <name>fmlHomePhoneOnBadContactInfo_CONTACT</name>
        <dataType>String</dataType>
        <expression>IF(VALUE({!Get_Contact.HomePhone}) = VALUE({!$Record.Five9DNIS__c}), &quot;&quot;,{!Get_Contact.HomePhone})</expression>
    </formulas>
    <formulas>
        <name>fmlLeadDispositionOnBadContactInfo</name>
        <dataType>String</dataType>
        <expression>&quot;Unreached : &quot; + {!$Record.CallDisposition}</expression>
    </formulas>
    <formulas>
        <name>fmlMobileOnBadContactInfo_CONTACT</name>
        <dataType>String</dataType>
        <expression>IF(VALUE({!Get_Contact.MobilePhone}) = VALUE({!$Record.Five9DNIS__c}), &quot;&quot;,{!Get_Contact.MobilePhone})</expression>
    </formulas>
    <formulas>
        <name>fmlMobilePhoneOnBadContactInfo</name>
        <dataType>String</dataType>
        <expression>IF(VALUE({!Get_Lead.MobilePhone}) = VALUE({!$Record.Five9DNIS__c}), &quot;&quot;,{!Get_Lead.MobilePhone})</expression>
    </formulas>
    <formulas>
        <name>fmlPhoneOnBadContactInfo</name>
        <dataType>String</dataType>
        <expression>IF(VALUE({!Get_Lead.Phone}) = VALUE({!$Record.Five9DNIS__c}), &quot;&quot;,{!Get_Lead.Phone})</expression>
    </formulas>
    <formulas>
        <name>fmlPhoneOnBadContactInfo_CONTACT</name>
        <dataType>String</dataType>
        <expression>IF(VALUE({!Get_Contact.Phone}) = VALUE({!$Record.Five9DNIS__c}), &quot;&quot;,{!Get_Contact.Phone})</expression>
    </formulas>
    <interviewLabel>trigger - on Five9 Task Creation - Update Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>trigger - on Five9 Task Creation - Update Related Records</label>
    <loops>
        <name>Loop_Around_Var_Col</name>
        <label>Loop around Var Col</label>
        <locationX>2954</locationX>
        <locationY>792</locationY>
        <collectionReference>apexVarCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_b7_for_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lead_or_Contact_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Contact_made</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_for_Scheduled_Path</name>
        <label>Get Contact for Scheduled Path</label>
        <locationX>3086</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ANI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Wrong_Association</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lead_for_Scheduled_Path</name>
        <label>get Lead for Scheduled Path</label>
        <locationX>2822</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ANI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Update_Lead_on_DNC</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Update Lead on DNC</label>
        <locationX>1370</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <elementReference>$Record.CallDisposition</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Update_Lead_on_DNC</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Update Lead on DNC</label>
        <locationX>1106</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <elementReference>$Record.CallDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Lead_on_DNC</name>
        <label>Copy 1 of Copy 1 of Update Lead on DNC</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <elementReference>$Record.CallDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Lead_or_Contact_Campaign_Member_Status</name>
        <label>Copy 1 of Copy 1 of Update Lead or Contact Campaign Member Status</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Lead_on_DNC</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Update_Lead_or_Contact_Campaign_Member_Status</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Update Lead or Contact Campaign Member Status</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Update_Lead_on_DNC</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Lead_on_DNC</name>
        <label>Copy 1 of Update Lead on DNC</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <elementReference>$Record.CallDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Lead_or_Contact_Campaign_Member_Status</name>
        <label>Copy 1 of Update Lead or Contact Campaign Member Status</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Lead_on_DNC</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Update_Lead_or_Contact_Campaign_Member_Status</name>
        <label>Copy 2 of Copy 1 of Update Lead or Contact Campaign Member Status</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Update_Lead_on_DNC</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CampaignMember_Contact_Contacted</name>
        <label>Update CampaignMember - Contact - Contacted</label>
        <locationX>2426</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>updateAllContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CompanyOrAccount</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Bad_Phone</name>
        <label>Update Contact Bad Phone</label>
        <locationX>2162</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bad_Phones__c</field>
            <value>
                <elementReference>fml_BadPhonesRTF_CONTACT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>fmlHomePhoneOnBadContactInfo_CONTACT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>fmlMobileOnBadContactInfo_CONTACT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>fmlPhoneOnBadContactInfo_CONTACT</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_on_DNC</name>
        <label>Update Lead on DNC</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <stringValue>Unqualified : Do Not Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_or_Contact</name>
        <label>Update Lead or Contact on Bad Phone Number</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bad_Phones__c</field>
            <value>
                <elementReference>fmlBadPhonesRTF_LEAD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <elementReference>fmlLeadDispositionOnBadContactInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>fmlMobilePhoneOnBadContactInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>fmlPhoneOnBadContactInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact_Mobile__c</field>
            <value>
                <elementReference>fml2ndaryPhoneOnBadContactInfo</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_or_Contact_Campaign_Member_Status</name>
        <label>Update Lead or Contact Campaign Member Status</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Lead_on_DNC</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Contact_Scheduled</name>
        <label>Update related Contact Scheduled</label>
        <locationX>3086</locationX>
        <locationY>1692</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_for_Scheduled_Path.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b7ef8429_9f35_4102_b1ea_44d3453a5086__c</field>
            <value>
                <elementReference>b7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ba685ce4_2c28_433a_a4c6_cac18b40f436__c</field>
            <value>
                <elementReference>ba6</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_sched_Lead</name>
        <label>Update related Lead Scheduled</label>
        <locationX>2822</locationX>
        <locationY>1692</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Lead_for_Scheduled_Path.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b7ef8429_9f35_4102_b1ea_44d3453a5086__c</field>
            <value>
                <elementReference>b7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ba685ce4_2c28_433a_a4c6_cac18b40f436__c</field>
            <value>
                <elementReference>ba6</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAllContacts</name>
        <label>Update all contacts</label>
        <locationX>2426</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Contact_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>2069</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Five9DNIS__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Call_for_New_Assigned_ANI</name>
            <connector>
                <targetReference>Check_Disposition_Value</targetReference>
            </connector>
            <label>Call for New Assigned ANI</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>apexVarCol</name>
        <apexClass>ExternalService__ANIUpdate_GetANI_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>b7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ba6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>outResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Five9DNIS__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>get_Lead_for_Scheduled_Path.PostalCode</elementReference>
        </value>
    </variables>
    <variables>
        <name>zipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
