force-app/main/default/flows/Update_VisitPlannedEndTime_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>fmlVisitPlannedEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.PlannedVisitStartTime} + {!Get_VisitType.EstimatedDuration}/24</expression>
    </formulas>
    <interviewLabel>Update VisitPlannedEndTime on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update VisitPlannedEndTime on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_VisitType</name>
        <label>Get VisitType</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Planned_Visit_End_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VisitType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Planned_Visit_End_Time</name>
        <label>Update Planned Visit End Time</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>PlannedVisitEndTime</field>
            <value>
                <elementReference>fmlVisitPlannedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_VisitType</targetReference>
        </connector>
        <object>Visit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
